* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(255, 249, 245);
    font-family: "Montserrat";
    line-height: 196.19%;
    text-align: left;
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid whitesmoke;
    position: fixed;
    padding-left: 214px;
    padding-right: 64px;
    z-index: 99;
}

.header-list {
    width: 374px;
    height: 24px;
    display: flex;
    gap: 21px;
    flex-direction: row;
    align-items: center;
}

.header-list li a {
    color: rgb(36, 20, 0);
    font-size: 15px;
    font-weight: 400;
}

.header-list li a:hover {
    color: black;
}

.header-list li:nth-child(4) a {
    color: rgb(225, 106, 0);
    font-weight: 700;
    text-decoration-line: underline;
}

.header-list li:nth-child(4) a:hover {
    color: #000;
    text-decoration: none;
}

.contact_us {
    padding-top: 140px;
    margin-bottom: 85px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 28px;
    width: 90%;
}

.contact-container .p-contact-us {
    color: #333333;
    font-family: var(--fontMons);
    font-size: 36px;
    font-weight: 900;
    padding-left: 8px;
}

.first-form {
    display: flex;
    gap: 36px;
    margin-bottom: 33px;
}

.second-form {
    display: flex;
    gap: 30px;
}

.first-form input,
.second-form input {
    width: 50%;
    height: 70px;
    border: 1px solid #cecece;
    background: #fff;
    padding: 26px 0px 24px 38px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(110, 107, 90);
    font-family: "Monsterrat";
    border-radius: 5px;
}


#name-contact::placeholder,
#email-contact::placeholder,
#address-contact::placeholder,
#phone-contact::placeholder {
    color: rgb(121, 118, 103);
    font-family: "Crimson-text";
    font-size: 23px;
}

#name-contact:focus,
#email-contact:focus,
#address-contact:focus,
#phone-contact:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(21, 86, 224, 0.918);
}

.error-alert {
    width: 100%;
    height: 130px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-top: 30px;
    border-radius: 5px;
    display: none;
}

.success-alert {
    width: 100%;
    height: 130px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    margin-top: 30px;
    border-radius: 5px;
    display: none;
}

.error-heading,
.success-heading {
    font-size: 32px;
    margin-left: 20px;
    margin-bottom: 25px;
    padding-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.error-p,
.success-p {
    font-size: 20px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button-div {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.Send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e16a00;
    width: 50%;
    height: 70px;
    border: none;
    color: #fff;
    font-family: "Crimson Text", serif;
    font-size: 30px;
    border-radius: 5px;
    font-weight: 400;

}

.Send-button:hover {
    transition: all .3s;
    transform: scale(1.1);
    border-radius: 10px;
    font-size: 35px;
}

.social-media-section {
    margin-top: 238px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 900;
    font-size: 25px;
    color: rgb(36, 20, 0);
}

.social-media-section p {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 25px;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 54px;
}


.instagram:hover,
.facebook:hover,
.twitter:hover {
    transform: scale(1.1);
}



.footer {
    background-color: rgb(57, 31, 0);
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 133px;
    padding-top: 56px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);

}

.information-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inform ul li:nth-child(1) {
    font-size: 20px;
}

.inform li {
    list-style: none;
}

.inf-4 ul li:nth-child(1) {
    font-size: 12px;
}

.inf-4 ul li:nth-child(2) {
    width: 136px;
    color: rgb(225, 106, 0);
    border: 1px solid rgb(225, 106, 0);
    padding: 2px 6px;

}

.ending {
    font-size: 14px;
    text-align: center;
}

.responsive-footer {
    display: none;
}




@media (max-width:680px) {
    .header {
        width: 100%;
        padding-left: 15px;
        padding-right: 14px;
        overflow-x: hidden;
        margin: 0px auto;
    }

    .header-list li a {
        font-size: 11px;
    }

    .main {
        margin-bottom: 58px;
        overflow-x: hidden;
    }

    .social-media-section {
        margin-bottom: 50px;
    }

    .social-media-section p {
        font-size: 18px;
    }

    .social-container img {
        width: 40px;
        height: 40px;
        margin-left: 0px;
    }

    .footer {
        display: none;
    }
    .information-container {
        order: 2;
        width: 100%;
        height: 400px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .information-container h1 {
        font-size: 24px;
    }

    .information-container p {
        font-size: 14px;
    }

    .image-container {
        order: 1;
        margin-top: 30px;
        width: 100%;
        display: flex;
    }

    .image-container img {
        width: 350px;
        height: 200px;
        padding: 0;
        margin: 0px auto;
    }

    .responsive-footer {
        padding-top: 18px;
        width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        display: flex;
        color: rgb(242, 242, 242);
        background-color: rgb(57, 31, 0);
        flex-direction: column;
        align-items: center;
    }

    .responsive-footer img {
        width: 190px;
    }

    .responsive-footer ul {
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 26px;
    }

    .responsive-footer ul li {
        list-style: none;
    }

    .responsive-paragraph {
        border-top: 1px solid rgba(255, 255, 255, 0.59);
    }

    .first-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 30px;
        margin-bottom: 33px;
    }

    .first-form input {
        border-radius: 5px;
        border: 1px solid #cecece;
        background: #fff;
        width: 100%;
        height: 40px;
    }

    .first-form ::placeholder {
        color: #241400;
        font-family: "Crimson Text", serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .second-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-form input {
        border-radius: 5px;
        border: 1px solid #cecece;
        background: #fff;
        width: 100%;
        height: 40px;
    }

    .second-form ::placeholder {
        color: #241400;
        font-family: "Crimson Text", serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .p-div {
        text-align: center;
        padding-left: 0px;
    }

    .p-div p {
        color: #241400;
        font-family: var(--fontMons);
        font-size: 44px;
        font-weight: 900;
    }

    .Send-button {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        background: #e16a00;
        font-size: 24px;
    }

    .button-div {
        width: 100%;
    }

    .container .p-div {
        padding-left: 0px;
    }


    .error-alert,
    .success-alert {
        width: 100%;
    }

}

.social-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s;
}

.responsive-navbar li a {
    text-decoration: none;
    color: rgb(242, 242, 242);
    margin-left: 8px;
    font-size: 14px;
}

.responsive-navbar li a:hover {
    color: #eee1e1;
    cursor: pointer;
    transition: all 0.3s;
}



